@import 'ember-paper';
body {
  background-color: #f6f6f6;
}
.menu {
  background-color: #c8c8c8;
}
.WidthCenter {
  text-align: center;
  width: 100%;
}
.logo {
  width: 50%;
  padding: 10px;
}
.grey {
  background-color: #e1e1e1;
}
p {
  font-family: serif; 
  margin: inherit;
  color: #3f3f3f;
}
.result {
  background-color: #acacac;
  padding: 10px;
}
.cartesleft img {
  height: 150px;
  padding: 5px;
}
.cartesright img {
  height: 90px;
  padding: 5px;
}
article {
  width: 70%; 
}
