@import 'ember-paper';
.menu {
  background-color: #919191;
}

.date {
  background-color: #cecece;
  width: 100%;
  text-align: center;
}
body {
  background-color: #bebebe;
}

.logo {
  width: 70%;
  padding: 10px;
}
