@import 'ember-paper';
body {
  background-color: #f6f6f6;
}
.menu {
  background-color: #c8c8c8;
}
.WidthCenter {
  text-align: center;
  width: 100%;
}
.logo {
  width: 70%;
  padding: 10px;
}

.grey {
  background-color: #e1e1e1;
}
.titre p {
  margin: inherit;
  color: #3f3f3f;
}
p {
 font-family: serif; 
}
.result {
  background-color: #acacac;
  padding: 10px;
}
.cartes img {
  height: 150px;
  padding: 5px;
}
.cartes2 img {
  height: 90px;
  padding: 5px;
}

