<div class="menu layout-column layout-align-space-around-center">
  <h1> Subtitle </h1>
  <img src="../img/titre.png" alt="logo" height="50" width="70">
  <div class="flex">"I'm above on mobile, and to the left on larger devices."</div>
</div>

{{outlet}}